<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>788777386416-dnsqvvutlh78aetfqu7gg6bir79pac5c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.788777386416-dnsqvvutlh78aetfqu7gg6bir79pac5c</string>
	<key>API_KEY</key>
	<string>AIzaSyCk5EmezB_lJbWS0tF9QtdzmCfXLmWbT7I</string>
	<key>GCM_SENDER_ID</key>
	<string>788777386416</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.stoccer-pedroenriquefreitas.stoccer</string>
	<key>PROJECT_ID</key>
	<string>stoccer-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>stoccer-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:788777386416:ios:e711904f6eff79483a9675</string>
	<key>DATABASE_URL</key>
	<string>https://stoccer-flutter.firebaseio.com</string>
</dict>
</plist>